/*--fonts--*/

@font-face {
    font-family: "Segoi UI";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SegoeUI.woff") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Segoi UI";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SegoeUIBold.woff") format("woff2");
    font-display: swap;
}