.page {
    height: 100%;
}

.page__body {
    font-family: "Segoi UI", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100%;
    margin: 0;
    background-color: #F6F6FA;
}